body{
    font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 3.8rem;
  color: rgb(41, 33, 33);
}
h2{
    font-weight: 900;
    font-size: 3rem;
    color: rgb(81, 72, 72);
}
.bo {
  border: 1px solid red;
}
.btn-custom {
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
.p-card-custom {
  bottom: 65px;
}


.splash {
  height: 100dvh;
  background-color: rgb(69, 66, 63);
  background-image: url("./images/money-2724235_1920.jpg");
  background-position: center;
  background-size: cover;
}

.brokers {
  min-height: 100dvh;
}
.compare {
  min-height: 100dvh;
  background-color: azure;
}
